@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* section 1 Start */
#hero-section-1 {
    background: linear-gradient(rgba(7, 2, 17, 1) 0%,
            rgba(7, 2, 17, 0) 100%),
        url("../images/Banner\ Image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 700px;
    max-width: 1600px;
    margin: 50px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 16px;
}

.sub-title {
    font-size: 32px;
    font-family: Merriweather;
    font-weight: 300;
    color: white;
}

.title {
    font-size: 72px;
    font-family: Merriweather;
    font-weight: 900;
    color: white;
    max-width: 900px;
}

/* Section 2 Start */
#hero-section-2 {
    margin: 120px auto;
    max-width: 1600px;


    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.section-2-title {
    color: #FF0000;
    font-family: "Inter", sans-serif;
    font-size: 88px;
    font-weight: bold;
    margin-bottom: 48px;
}

.section-2-sub-title {
    color: #FF0000;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.section-2-sub-title-2 {
    color: #070211;
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: bold;
}

.section-2-sub-title,
.section-2-sub-title-2 {
    margin: 12px;
}

/* Section 3 Start */
#hero-section-3 {
    background: linear-gradient(90deg, rgba(7, 2, 17, 1) 5%,
            rgba(7, 2, 17, 0) 50%),
        url("../images/Vectorrr.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 700px;
    max-width: 1600px;
    margin: 50px auto;
    border-radius: 16px;
    overflow: hidden;

    display: flex;
    text-align: center;
}

/* Flex container */
.section-3-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 130px;
}

.section-3-container {
    text-align: left;
    max-width: 600px;
    color: #ffffff;
}

.section-3-title {
    color: #FFFFFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 48px;
}

.section-3-sub-title {
    color: #FFFFFF;
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 48px;
    opacity: 80%;
}

.join-btn {
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    padding: 20px;
}

.section-3-image img {
    width: 320px;
}

/* Section 4 start  */

#hero-section-4 {
    max-width: 1600px;
    height: 482px;
    margin: 50px auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.section-4-content {
    background: linear-gradient(rgba(255, 0, 0, 0.1) 0%, rgba(255, 0, 0, 0)100%);
    width: 1600px;
    padding: 140px;
    text-align: center;
    border-radius: 16px;
}

.section-4-content h3 {
    margin: 10px 0;
    font-size: 32px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}

.label {
    color: #FF0000;
    font-weight: 700;
}

.btn {
    margin-top: 48px;
    background-color: #FF0000;
    color: white;
    border-radius: 8px;
    padding: 16px 32px;
    font-weight: bold;
    font-size: 20px;
    border-style: none;
    cursor: pointer;
}


/* Section 5 start */

#hero-section-5 {
    max-width: 1600px;
    margin: 120px auto;
}

.section-5-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

/* Left Side */
.offer-left {
    flex: 1;
}

.small-title {
    color: #FF0000;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.main-title {
    font-size: 48px;
    font-family: Merriweather;
    font-weight: 700;
    margin-bottom: 22px;
}

.offer-left p {
    color: #070211;
    opacity: 60%;
    line-height: 1.6;
    max-width: 400px;
}

/* Middle Image */
.offer-middle {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image-wrapper {
    width: 463px;
    height: 463px;
    border: 15px solid #FF0000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-wrapper img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
}

/* Right Side */
.offer-right {
    flex: 1;
    margin-left: 118px;
}

.year {
    color: #FF0000;
    font-size: 48px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    margin-bottom: 16px;
}

.offer-right p {
    color: #070211;
    opacity: 60%;
    line-height: 1.6;
    margin-bottom: 43px;
    max-width: 300px;
}

.newyear-img {
    width: 120px;
}

/* Section 6 start */
#hero-section-6 {
    max-width: 1600px;
    margin: 120px auto;
    text-align: center;
}

.section-6-content-1 {
    max-width: 1068px;
    margin: 0 auto 80px auto;
}

.section-6-sub-title {
    color: #070211;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.section-6-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
}

.section-6-p {
    color: #070211;
    opacity: 60%;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 32px;
}

/* Bottom design section */
.section-6-content-2 {
    background-image: url("../images/Rectangle\ 2.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    position: relative;
    height: 660px;
}

.gift-box {
    position: absolute;
    bottom: 80px;
    left: 100px;
    width: 700px;
}

.discount {
    position: absolute;
    top: 0px;
    right: 220px;
    width: 250px;
}

/* Section 7 start */
#hero-section-7 {
    max-width: 1600px;
    margin: 120px auto;
}

.section-7-sub-title {
    color: #FF0000;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.section-7-title {
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
    margin-top: 16px;
}

.section-7-p {
    color: #070211;
    opacity: 60%;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 32px;
    max-width: 900px;
}

.section-7-image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.section-7-image img {
    width: 100%;
    display: block;
}

/* Section 8 start */
#hero-section-8 {
    max-width: 1600px;
    margin: 120px auto;
}

.section-8-container {
    background: rgba(255, 0, 0, 0.05);
    border-radius: 16px;
    padding: 100px 0;
    text-align: center;
}

.section-8-icon {
    width: 100px;
    margin-bottom: 20px;
}

.section-8-title {
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.section-8-p {
    color: #070211;
    opacity: 60%;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 32px;
    max-width: 900px;
    margin: 0 auto 40px auto;
}

.section-8-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-8-form input {
    width: 350px;
    height: 60px;
    border: none;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    border-radius: 50px 0 0 50px;
    outline: none;
    background: #ffffff;
}

.section-8-form button {
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 0 50px 50px 0;
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 5 00;
    font-family: "Inter", sans-serif;
    cursor: pointer;
}


/* Section 9 start */
#footer {
    background-color: #070211;
    color: #FFFFFF;
    padding: 120px;
    max-width: 1920px;
    margin: 0 auto;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1400px;
}

.footer-address p {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
}

.footer-contact p {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-contact img {
    width: 20px;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.15);
    margin: 48px 0;
}

.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 20px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}